*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
    font-family: "Lato", sans-serif;

}

/*BACKGROUND*/

#big-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #242a35;
}

.title {
    font-size: 3.5rem;
    color: #f5f0ed;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-bottom: 2rem;
    align-self: center;
}

#text-container {
    width: 60rem;
    min-height: 10rem;
    padding: 2.5rem 2rem;
    border-radius: 2rem;
    background-color: #f5f0ed;
    display: flex;
    justify-content: center;
    align-content: space-between;
    row-gap: 5rem;
    flex-wrap: wrap;

}

label {
    font-size: 2rem;
}

#text-input {
    color: #242a35;
    width: 80%;
    background-color: #f5f0ed;
    border: none;
    border-bottom: 2px solid #d04179;
    margin: 0 1rem;
    padding: 0 1rem;
}

.palindrome-bttn {
    background-color: #d04179;
    color: #f5f0ed;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
}

#result {
    font-size: 2rem;
}